.navigation__list {
  list-style-type: none;
}

.navigation__item {
  margin: 10px 0;
  font-size: 24px;
}

.navigation__link {
  text-decoration: none;
  color: rgb(17, 195, 255);
}

.navigation__link:visited {
  color: rgb(0, 119, 159);
}

.navigation__link:hover {
  color: rgb(146, 228, 255);
}
